doctype html
html(lang="fr")
  head
    meta(charset="utf-8")
    title Démo (photos)
    link(rel='stylesheet', href='/css/style.css')
  body
    h1.header La page d'entrée: démonstration
    ul
      li
        a(href='/photos')
          | Voir les photos
      li
        a(href='/post')
          | Déposer une photo
      li
        | Télécharger le fichier 
        a(href='demo.zip')
          | demo.zip
        |  avec le code source